html, body {
  margin: 0;
  padding: 0;
}

.Landing {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.backgrounds {
  position: absolute;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-size: cover;
  background-position: center center;

  -webkit-transition: all 1s ease;
  opacity: 0;
}

.background.active {
  opacity: 1;
}

.one {
  background-image: url("a.jpg");
}

.two {
  background-image: url("b.jpg");
}

.three {
  background-image: url("c.jpg");
}

.featured {
  position: absolute;
  width: 80vw;
  height: 70vh;
  left: 10vw;
  top: 15vh;

  -webkit-transition: all 2s ease;
  transition: all 2s ease;

  opacity: 0;
}

.featured.active {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.title {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-family: "Montserrat";
  user-select: none;
}

.title h1 {
  letter-spacing: 5px;
  color: #fff;
  font-size: 65px;
  margin: 0;
}

.title h1 span {
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translate(0, -20px);
  transform: translate(0, -20px);
}

.title.active h1 span {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.title h1 span:nth-of-type(1) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.title h1 span:nth-of-type(2) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.title h1 span:nth-of-type(3) {
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}


.title h1 span:nth-of-type(4) {
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}

.title h1 span:nth-of-type(5) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}


.title h1 span:nth-of-type(6) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}


.title h3 {
  letter-spacing: 10px;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  transition-delay: 1s;
  font-size: 37px;
  margin: 0;
}

.title.active h3 {
  opacity: 1;
}


@media(max-width: 1000px) {
  .title {
    left: 10px;
  }
  .title h1 {
    font-size: 40px;
  }
  .title h3 {
    font-size: 19.5px;
  }
}


.arrows-container {
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 100px;
}

.swiper-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 100%;
}

.swiper-arrow span {
  position: absolute;
  width: 10px;
  height: 1px;


  top: 14.5px;
  left: 10px;
  background: #333;
}

.swiper-arrow span:nth-of-type(1) {
  -webkit-transform: translate(0, -3.5px) rotate(45deg);
  transform: translate(0, -3.5px) rotate(45deg);
}

.swiper-arrow span:nth-of-type(2) {
  -webkit-transform: translate(0, 3.5px) rotate(-45deg);
  transform: translate(0, 3.5px) rotate(-45deg);
}

.swiper-button-prev {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 0;
}

.swiper-button-next {
  right: 0;
}






.desk-nav {
  position: absolute;
  right: 10vw;
  top: 0;
  line-height: 10vh;
  height: 10vh;
  z-index: 10000;
}

.desk-nav ul li {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Montserrat";

  list-style-type: none;
  display: inline-block;
  margin-left: 25px;


  color: #fff;
  font-size: 12px;
}


.mobile-nav {
  display: none;
  z-index: 1000;
}


@media(max-width: 1000px) {
  .desk-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

.button-container {
  position: absolute;

  height: 50px;
  width: 50px;

  right: 10vw;
  top: 30px;

  border: 1px solid #fff;
  z-index: 2;

  cursor: pointer;
}

.button-container span {
  position: absolute;
  width: 30px;
  height: 1px;
  top: 24px;
  left: 10px;
  background: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button-container span:nth-of-type(1) {
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
}

.button-container span:nth-of-type(2) {
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
}

.button-container.active span:nth-of-type(1) {
  -webkit-transform: translate(0, 0) rotate(-45deg);
  transform: translate(0, 0) rotate(-45deg);
}

.button-container.active span:nth-of-type(2) {
  -webkit-transform: translate(0, 0) rotate(45deg);
  transform: translate(0, 0) rotate(45deg);
}

.menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #fff;
  opacity: 0;
  z-index: 1;
  visibility: hidden;

  background:#333;

  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}


.menu ul {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 1000;
  color: #fff;
}

.menu ul li {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat";
  letter-spacing: 5px;
  margin-top: 25px;
}

.menu.active {
  opacity: 1;
  visibility: visible;
}
