html,
body {
  margin: 0;
  padding: 0;
}

.backdrop {
  background-image: url("../img/Whybackground.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.text {
  color: #000;
  background: rgba(255, 255, 255, 0.7);
  mix-blend-mode: screen;
  text-align: center;
  width: 300%;
  height: 100%;
  margin: 0;
  line-height: 100vh;
  position: absolute;
  left: -100%;
}

.text span {
  display: inline-block;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 12vw;

  -webkit-transition: all 1s ease;
  transition: all 1s ease;

  -webkit-transform: translate(50px, 0);
  transform: translate(50px, 0);

  opacity: 0;
}

.space {
  margin-left: 50px
}

@media (max-width: 800px) {
  .text span {
    font-size: 11vw;
  }
  .space {
    margin-left: 20px
  }
}

.text span:nth-of-type(1) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.text span:nth-of-type(2) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.text span:nth-of-type(3) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.text span:nth-of-type(4) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.text span:nth-of-type(5) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.text span:nth-of-type(6) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.text span:nth-of-type(7) {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

.text span:nth-of-type(8) {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.text span:nth-of-type(9) {
  -webkit-transition-delay: 1.8s;
  transition-delay: 1.8s;
}

.text.active span {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);

  opacity: 1;
}

.ladder-background {
  padding-top: 10px;
  padding-bottom: 100px;
}

.ladder-container {
  position: relative;
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #fff;
}

.ladder-element {
  position: absolute;
  height: 100%;
}

.ladder-a {
  left: 0;
}

.ladder-b {
  right: 0;
}

.ladder-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transform: rotate(10deg) skew(30deg);
  transform: rotate(10deg) skew(30deg);

  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
}

.ladder-text.reveal {
  -webkit-transform: rotate(0deg) skew(0deg);
  transform: rotate(0deg) skew(0deg);
  opacity: 1;
}

.text-content {
  width: 80%;
  text-align: left;
}

.ladder-text h1,
.ladder-text h3 {
  font-family: "Montserrat";
  letter-spacing: 3px;
}

.ladder-text h1 {
  margin-top: 0;
}

.ladder-text p {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 10px;
}

.ladder-img {
  width: 40%;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1000px) {
  .ladder-container {
    width: 80%;
    height: auto;
  }
  .ladder-element {
    position: relative;
    width: 100%;
  }
  .text-content {
    margin: 0;
    width: 80%;
  }
  .text-content h1 {
    margin-top: 20px;
    font-size: 30px;
  }
  .text-button {
    margin-bottom: 50px;
  }
  .ladder-img {
    height: 0;
    padding-top: 100%;
  }
}


.quotes {
  width: 700px;
  margin: 0 auto;

  position: relative;
  font-family: "Montserrat";

  margin-bottom: 100px;
}

.quotes h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
}

.swiper-container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.swiper-slide {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  cursor: grab;
}

.quote {
  font-size: 100px;
  position: absolute;
  font-family: "Abril Fatface";
  color: #000;
  top: 25px;
  opacity: .2;
}

.quote:nth-of-type(1) {
  left: 15px;
}

.quote:nth-of-type(2) {
  right: 25px;
}

@media(max-width: 700px) {
  .quotes {
    width: 90%;
  }
  .quote:nth-of-type(1) {
    left: 0px;
  }

 .quote:nth-of-type(2) {
    right: 5px;
  }
}
.title {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-family: "Montserrat";
  user-select: none;
}

.title h1 {
  letter-spacing: -12px;
  color: #fff;
  font-size: 95px;
  margin: 0;
}

.title h1 span {
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translate(0, -20px);
  transform: translate(0, -20px);
}

.title.active h1 span {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.title h1 span:nth-of-type(1) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.title h1 span:nth-of-type(2) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.title h1 span:nth-of-type(3) {
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}


.title h1 span:nth-of-type(4) {
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}

.title h1 span:nth-of-type(5) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}


.title h1 span:nth-of-type(6) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}


.title h3 {
  letter-spacing: 10px;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  transition-delay: 1s;
  font-size: 37px;
  margin: 0;
}

.title.active h3 {
  opacity: 1;
}


@media(max-width: 1000px) {
  .title {
    left: 10px;
  }
  .title h1 {
    font-size: 60px;
    letter-spacing: -7px;
  }
  .title h3 {
    font-size: 19px;
  }
}


.arrows-container {
  position: absolute;
  bottom: -50px;
  right: 25px;
  width: 100px;
}

.swiper-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.swiper-arrow:focus {
  outline: none;
}

.swiper-arrow span {
  position: absolute;
  width: 10px;
  height: 1px;


  top: 14.5px;
  left: 10px;
  background: #333;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.swiper-arrow:hover {
  background: #000;
}

.swiper-arrow:hover span  {
  background: #fff;
}

.swiper-arrow span:nth-of-type(1) {
  -webkit-transform: translate(0, -3.5px) rotate(45deg);
  transform: translate(0, -3.5px) rotate(45deg);
}

.swiper-arrow span:nth-of-type(2) {
  -webkit-transform: translate(0, 3.5px) rotate(-45deg);
  transform: translate(0, 3.5px) rotate(-45deg);
}

.swiper-arrow-prev {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 0;
}

.swiper-arrow-next {
  right: 0;
}


.swiper-pagination-progressbar {
  position: absolute;
  bottom: -67px !important;
  width: calc(100% - 195px) !important;
  height: 1px !important;
  left: 35px;
}

.swiper-pagination-progressbar-fill {
  background: #000 !important;
  opacity: 1;
}


.edge {
  position: absolute;
  width: 2px;
  height: 20px;
  background: #000;
  bottom: -76px;
}

.left {
  left: 35px;
}
.right {
  right: 160px;
}
